################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Text101/.vs/Text101/v15/Server/sqlite3/db.lock
